<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}" id = "previous_page">Poprzednia strona</a>
        {% endif %}

        <span class="current" id = "current_page">
            Strona {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}" id="next_page" >Następna strona</a>
        {% endif %}
    </span>
</div>