{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo">WIT Wojciech Kucharek</span>
    {% if request.user.is_authenticated %}
    <ul class="menu">
      <li {% if section == "dashboard" %}class="selected"{% endif %}>
        <a href="{% url "dashboard" %}" id="dashboard">Moja strona główna</a>
      </li>
      <li {% if section == "blog" %}class="selected"{% endif %}>
        <a href="{% url "blog:post_list" %}" id="blog">Blog</a>
      </li>
      <li {% if section == "Konto" %}class="selected"{% endif %}>
        <a href="{% url "edit" %}" id="account_edit">Twoje konto</a>
      </li>
    </ul>
  {% endif %}
  <span class="user">
    {% if request.user.is_authenticated %}
      Witaj {{ request.user.first_name }},
      <a href="{% url "logout" %}" id="logout">Wyloguj</a>
    {% else %}
      <a href="{% url "login" %}" id="log_in">Zaloguj</a>
    {% endif %}
  </span>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <footer>
   <p>Wojciech Kucharek WIT 2020/2021</p>
      </footer>
</body>
</html>
